/* Large desktops and laptops */
@media (min-width: 1200px) {
    .main_photo {
        width:160px;
        height:160px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .main_photo {
        width:160px;
        height:160px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .main_photo {
        width:160px;
        height:160px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .main_photo {
        width:160px;
        height:160px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .main_photo {
        width:80px;
        height:80px;
    }
    .nav-tabs li {
        /*padding: 4px;*/
    }
    .nav > li > a {
        padding: 10px 14px!important;
    }
}