html,
body {
    height: 100%;
}

.table {
    width:99%;
}
.panel {
    font-size: 12px;
}

ul.nav.nav-tabs li a{
     background-color: #c4c4c4;
}

ul.nav.nav-tabs li.active a{
     background-color: #fff;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.right_menu_btn {
    background-color: transparent;!important;
    color: white;!important;
    border: none;!important;
    padding: 14px 10px!important;
}

.right_menu_ul {
    margin: 20px;
}
.right_menu_ul > ul,
.right_menu_ul > li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
.right_menu_ul a {
    color: #b8c7ce;!important;
}

.user-menu {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    background-color: snow !important;
    color: #222!important;
}
.user_p{
    color: #222!important;
    line-height: 50px;
    margin: 0;

}
.left_menu {
    background-color: #fff!important;
    color: #222!important;

}
.left_menu li:hover,
.left_menu li a:hover {
    background-color: snow !important;
    color: #111!important;
}
.left_menu li a {
    color: #444!important;
}
.left_menu li.active {
    color: blue!important;
}
.sidebar-menu>li.header {
    background-color: ghostwhite !important;
    color: #111!important;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
    background-color: ghostwhite !important;
    color: #111!important;
}
.box.box-solid.box-warning>.box-header {
    color: #fff;
    background: #0084EA!important;
    background-color: #0084EA!important;
}
.box.box-solid.box-warning {
    border: 1px solid transparent!important;
}
.table_profile th p{
font-weight: normal!important;
    color: #999;    
}

.trainer_feedback_img {
    border-radius: 50%;
}
.skin-blue .sidebar-menu>li>.treeview-menu {
    /*margin: 0 1px;*/
     background: #fff!important;
}
div.scrollmenu {
    /*background-color: #333;*/
    overflow: auto;
    white-space: nowrap;
}
.scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 300px;
    white-space:nowrap
}
.user_menu {
    background-color: transparent!important;
}
img.img_round {
    min-width: 100px;
    width: 100px;
    min-height: 100px;
    height: 100px;
    border-radius: 50%;
}

