table {
    border-collapse: collapse;
}

td, th {
    background: #fff;
    border-width: 0;
    border-bottom: 1px solid #B8B8B8;
    font-weight: normal !important;
    padding: 15px;
    text-align: left;
    vertical-align: middle;
}

tr.even {
    td, th {
        background: #f1f1f1;
    }
}


head, tfoot {
    text-transform: uppercase;

    th {
        background: #ccc;
    }
}

body {
    color: #111;
    font-size: 16px;
    font-family: sans-serif;
}